$imageHoverBackground:rgba(66, 66, 66, 0.2);
$linearOrangeColor:linear-gradient(#ff9d2f, #ff6126);

body{
    margin:0px;
    padding:0px;
    background-image:url('../logo/wallpaper/wallpaper.png');
    box-sizing: border-box;
    overflow-x:hidden;
}  
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
}
  .load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
  
  .load :first-child{background:#19A68C;animation-delay:-1.5s}
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  .load :last-child{background:#193B48}
  
@keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
}
.tittle{
    text-align:center;
    font-style:italic;
    font-weight:bold;
    font-size:50px;
    font-family:  Georgia;
    color: #001830;
}
#chooseInfoText{
    color: #001830;
}
.mainSection{
    display:flex;
    flex-direction: column;
}
.mainSection h2{
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
}
.mainImageCurrency{
    display:flex;
    justify-content: center;
}
@keyframes imageOpacity{
    0%{opacity:0}
    100%{opacity:1}
}
.imageCurrency{
    border:1px solid rgba(161, 152, 152, 0.3);
    border-radius: 5px; 
    margin:15px;
    animation:imageOpacity 1s;
    cursor: pointer;
}
.Hover:hover{
    background-color:$imageHoverBackground;
}.Hover2:hover{
    background-color:$imageHoverBackground;
}
#mainForm{
    display:flex;
    justify-content: center;
    margin-top:100px;
    text-align: center;
}
.formPosition{
    display:flex;
    flex-direction: row;
    margin-left:44px;
}

#mainForm label{
    font-family: 'Song Myung', serif; 
}
#mainForm #currencyValue, #mainForm #currencyValue2{
    margin:15px;
    margin-right:0px;
    border: 1px solid #a7a7a7;
    height:25px;
    border-radius: 2px;
    color:black;
}
.buttonCheck{
    background-image:$linearOrangeColor;
    color:#fff;
    border:0;
    text-decoration:none;
    display:inline-block;
    font-weight:700; 
    border-radius:.2rem;
    cursor:pointer;
    height:25px;
    width:120px;
}
.buttonCheck:hover{
    background-image:linear-gradient(#ff9d2f, #ff6126);
}
.nextCryptocurrency{
    margin:15px;
    height:20px;
    border-radius: 2px;
    color:black;
    display:none;
    justify-content: center;
    margin-top:7px;
    margin-bottom:80px;
    width:100vw;
}
.nextCryptocurrency div{
    margin-bottom:100px;
}
.isVisible{
    display:none;
}
.currencyExchangeInfo{
    position: relative;
    width:200px;
     padding-bottom:10px;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    text-align:justify;
}
.infoRate{
    margin-left:40px;
}
.horizontalLine{
    height:2px;
    width:200px;
    margin-top:2px;
    background-color: #ff9d2f;
    animation-name:line;
    animation-duration: 30s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
@keyframes rotation{
    0%{transform:rotate(0deg)}
    50%{transform:rotate(90deg)}
    100%{transform:rotate(180deg)}
  }
@keyframes line{
    0%{width:0px;}
    100%{width:200px;}
}
.inputArrow{
    margin-left:15px;
}
.buttonRefresh{
    width:50px;
    height:50px;
    float:right;
    background-image:url('../logo/refresh-icon\ .png');
    border-radius:10px;
    margin:10px;
    cursor: pointer;
}
.buttonRefresh:hover{
    opacity:0.8;
   
}
.inputField{
    margin-left:7px;
}
.zl{
    background-image: url('../logo/zloty2.png');
    background-position: center;
    background-size: cover;
    margin-left:-20px;
}
.dol{
    background-image: url('../logo/icons8-dolar-100.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left:-5px;
}
.lt{
    background-image: url('../logo/ltc.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;  
}
.bt{
    background-image: url('../logo/btc.png');
    background-position: center;
    background-size: cover;
}
.et{
    background-image: url('../logo/eth.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.main{
    margin-right:-70px;
}
.inputArrowDown{
    display:none;
}
.inputZl{
    margin-left:-12px;
}
@media only screen and (max-width:530px){
    .formPosition{
        flex-direction: column;
        align-items:center;
    }
    .inputArrow{
        display:none
    }
    .inputArrowDown{
        display:inline;
        margin-left:-35px;
    }
    .mainImageCurrency{
        flex-direction: column;
        align-items:center;
    }
    #infoCoin{
        margin-right:5px;
    }
}

.buttonClick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.4s ease-in;
  //start click effect
  &:before {
    content: '';
    background-color: aliceblue;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }
  &:focus {
    outline: 0;
    color: #fff;
    &:before {
      animation: effect_dylan 0.8s ease-out;
    }
  }
}
@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}




















